# AB Testing Course - PA Bond

In [1]:
# Problema de Negócio: Qual a melhor forma de pagamento: Preenchimento Manual ou Automático do
# formulário de dados do cartão de crédito?

# Coluna Device:

# I = Compra feita através do site
# A= Compra feita através do App

# Coluna Group:

# A = Preenchimento automático
# B = Preenhimento manual

# 1.0 IMPORTS

In [10]:
import pingouin as pg

In [9]:
import pandas as pd
import numpy as np
from statsmodels.stats import api as sms
import math as math
import pingouin as pg

# 2.0 DATA LOADING

In [14]:
df_raw = pd.read_csv('/Users/brunoschirmer/Repos/ab_test/data/raw/ab_testing.csv')

In [15]:
df_raw.head()

        uid country gender  spent  purchases        date  group device
0  11115722     MEX      F   1595          5  2016-03-08  GRP B      I
1  11122053     USA      M    498          2  2017-07-14  GRP B      I
2  11128688     USA      F   2394          6  2017-09-17  GRP A      I
3  11130578     USA      F   1197          3  2017-11-30  GRP A      I
4  11130759     ESP      M   1297          3  2018-01-10  GRP B      A

In [16]:
df_raw.shape

(45883, 8)

In [17]:
group_map = {'GRP A': 'treatment', 'GRP B': 'control'}
df_raw['group'] = df_raw['group'].map(group_map)
df_raw.head()

        uid country gender  spent  purchases        date      group device
0  11115722     MEX      F   1595          5  2016-03-08    control      I
1  11122053     USA      M    498          2  2017-07-14    control      I
2  11128688     USA      F   2394          6  2017-09-17  treatment      I
3  11130578     USA      F   1197          3  2017-11-30  treatment      I
4  11130759     ESP      M   1297          3  2018-01-10    control      A

In [18]:
aux3 = df_raw[['uid', 'group']].groupby( 'group' ).count().reset_index()
aux3

       group    uid
0    control  22874
1  treatment  23009

In [19]:
aux4 = df_raw[['group', 'spent']].groupby( 'group' ).mean().reset_index()
aux4

       group        spent
0    control  1886.419822
1  treatment  1880.504281

In [26]:
df_raw.isna().sum()

uid          0
country      0
gender       0
spent        0
purchases    0
date         0
group        0
device       0
dtype: int64

# 3.0 DESIGN DO EXPERIMENTO

In [36]:
df_control = df_raw[df_raw['group'] =='control']
df_treatment = df_raw[df_raw['group'] =='treatment']

df_treatment['spent'].mean()

1880.5042809335478

In [40]:
# Teste a ser usado: Cohen’s d
# Cohen’s d mede a diferença entre as médias de duas amostras

import pingouin as pg

effect_size = pg.compute_effsize(x=df_control['spent'], y=df_treatment['spent'], eftype='cohen')
effect_size

0.00433711906623249

## 3.1 FORMULAÇÃO DAS HIPÓTESES

## 2.2 PARAMÊTROS DO EXPERIMENTO

In [41]:
# Nível de confiança
confidence_level = 0.95

# Nível de significância
alpha = 0.05

# Média gasta nas páginas
u1 = 1886
u2 = 1880

# Tamanho do efeito
effect_size = pg.compute_effsize(x=df_control['spent'], y=df_treatment['spent'], eftype='cohen')

# Poder estatistico ou Power = 80% ( O poder estatístico é a probabilidade em que um teste pode detectar
#corretamente um efeito real quando realmente existe um )
power = 0.80

In [42]:
# Sample size
sample_n = sms.NormalIndPower().solve_power(
            effect_size,
            power=power,
            alpha=alpha)

sample_n = math.ceil(sample_n)

In [43]:
# Tamanho total da amostra

print('O tamanho total da amostra é de: {}'.format(sample_n*2))
print('O tamanho de cada amostra é de: {}'.format(sample_n))

O tamanho total da amostra é de: 1669030
O tamanho de cada amostra é de: 834515